<br/></br>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Sign up</div>
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 
 <div class="field">
  <span style="float:right">
   <div class="media">
   <%= f.input :avatar, label: "Profile Picture" %>
  </div>
  </span>
  </div><br>
  <div class="field">
    <%= f.input :name, autofocus: true %>
  </div>

 
  <div class="field">
    <%= f.input :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.input :password, help: "Must be at least 8 characters long", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.input :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
  <br/>
    <%= f.submit "Sign up" %>
  </div>
<% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
</div>