<%=bootstrap_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :title, :size => '100x1' %>
  </div>
  <div>
  <br>
    <%= f.cktext_area :body, :cols => 40,:ckeditor => {:uiColor => '#add8e6', :toolbar => 'mini'} %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
