<br>
<div class="container"><span style="float:right"><%= link_to '<i class="fa fa-plus"> New Post</i>'.html_safe, new_post_path %></span>
<p id="notice"><%= notice %></p>
    <% @posts.each do |post| %>
      <% User.all.each do |p| %>
          <% if post.user_id == p.id%>
            <% @name = p.name %>
          <% end %>
      <% end %>
      <br>
      <span style="font-size:25px; font-family:'Poppins', sans-serif"><%= post.title %></span><br>
      <span style="font-size:14px;font-family:'sans-serif,float:left;">
       <%= link_to @name, {:controller => "profile", :action => "show", :id => post.user_id }%>
      </span><br>
      <span style="font-size:15px; font-family:sans-serif"><%= truncate(strip_tags(post.body),length: 500) %></span><br>
      <span>
            <%= link_to '<i class="fa fa-eye"> Show </i>'.html_safe, post %>
             <% if post.user_id == current_user.id %>
                <%= link_to '<i class="fa fa-pencil"> Edit </i>'.html_safe, edit_post_path(post) %>
                <%= link_to '<i class="fa fa-trash"> Delete </i>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <span style="float:right"><%= (post.created_at).strftime("%d %b %y") %></span><br>
      </span>
      <hr>
  <% end %>

<div class="apple_pagination">
    <%= will_paginate @posts, :container => false %>
</div>
