<br><br>
<div class="container">
<p id="notice"><%= notice %></p>

<p style="font-size:25px; font-family:'Poppins', sans-serif"> 
  <%=@post.title %>
</p>

<% User.all.each do |p| %>
	<% if @post.user_id == p.id%>
		<span style="font-size:14px;font-family:'sans-serif,float:left;">		
		<%= link_to p.name, {:controller => "profile", :action => "show", :id => p.id }%>
		</span>
		<% end %>
	<% end %>
<span style="float:right"><%= (@post.created_at).strftime("%d %b %y") %></span><br>
<p>
  <%=simple_format(@post.body)%>
</p>
<br/>

<h3>Comments:</h3>
<% @post.comments.each do |x| %>
	<span style="font-size:14px;font-family:'sans-serif,float:left;">		
		<%= link_to x.commenter, {:controller => "profile", :action => "show", :id => x.user_id }%> :
	</span>
	<p>
	<%= x.comment %> 
	<% if x.user_id.to_i == current_user.id %>
		<span style="float:right">
		<%= link_to '<i class="fa fa-pencil"> </i>'.html_safe, edit_post_comment_path(@post,x) %>

		<%= link_to '<i class="fa fa-trash"> </i>'.html_safe, post_comment_path(@post,x), :confirm => 'Are you sure?', :method => :delete %> 
		</span>
	<% end %>
	</p>

              
   
<% end %>

<%=simple_form_for @comment, url: post_comments_path(@post) do |f| %>
	<%= f.text_area :comment , label: "Leave a comment:", style: 'width:80%' %><br>
	<%= f.submit 'Submit' %>
<% end %>
<br>

<% if current_user.id == @post.user_id %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
</div>